<app-header backButton="/home" [title]="country.name + ' Holidays'"></app-header>

<ion-content>

 <div *ngIf="(!loading$.value)">
  <ion-item *ngFor="let h of holidays$ | async">
    <ion-label>
      <div style="padding-bottom: 5px;">{{h.date}}</div>
      <ion-text color="tertiary">{{h.name}}</ion-text>
    </ion-label>
  </ion-item>
</div>

  <div *ngIf="(loading$ | async)">
    <ion-item *ngFor="let h of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </div>

</ion-content>